form {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  max-width: 800px;
  padding: 50px 30px 40px 30px;
}

p {
  font-size: 16px;
  margin-bottom: 25px;
}

input {
  margin-bottom: 10px;
}

button {
  align-self: flex-end;
  margin-top: 10px;
}
