<div *ngIf="show" class="d-flex modal">
  <div *ngIf="loading === true" class="loadingBox">
    <div class="load-block">
      <div class="load">
        <div style="left: 0; top: 0; animation-delay: 0s"></div>
        <div style="left: 10px; top: 0; animation-delay: 0.125s"></div>
        <div style="left: 20px; top: 0; animation-delay: 0.25s"></div>
      </div>
    </div>
  </div>
  <h2 *ngIf="selectedBook?.id; else bookTitle">
    Editing Book: {{ selectedBook.title }}
  </h2>
  <ng-template #bookTitle>
    <h2>Register a new Book!</h2>
  </ng-template>

  <div
    class="quantityBody"
    *ngIf="selectedBook && selectedBook.inventory; else addFirstQuantity"
  >
    <span
      >Book Quantity in Inventory:
      <b>{{
        selectedBook.inventory?.quantity ? selectedBook.inventory.quantity : "0"
      }}</b></span
    >
    <div class="quantity">
      <button (click)="decrement()" class="btnErr">-</button>
      <button (click)="increment()">+</button>
    </div>
  </div>
  <ng-template #addFirstQuantity>
    <div class="quantityBody">
      <span
        >Book Quantity in Inventory: <b>{{ firstQuantity }}</b></span
      >
      <div class="quantity">
        <button (click)="decrement()" class="btnErr">-</button>
        <button (click)="increment()">+</button>
      </div>
    </div>
  </ng-template>

  <form
    (ngSubmit)="submit()"
    [formGroup]="bookForm"
    #formDir="ngForm"
    class="d-flex"
  >
    <input
      type="text"
      [(ngModel)]="selectedBook.title"
      formControlName="title"
      required
      placeholder="Title"
    />
    <div class="error" *ngIf="title.invalid && formDir.submitted">
      <p *ngIf="title.errors?.['required']">Title is required!</p>
    </div>

    <textarea
      placeholder="Description"
      [(ngModel)]="selectedBook.description"
      formControlName="description"
    ></textarea>
    <input
      type="text"
      required
      [(ngModel)]="selectedBook.publisher"
      placeholder="Publisher"
      formControlName="publisher"
    />

    <div class="error" *ngIf="publisher.invalid && formDir.submitted">
      <p *ngIf="publisher.errors?.['required']">Publisher is required!</p>
    </div>

    <select
      [ngModel]="
        selectedBook && selectedBook.author ? selectedBook.author.id : ''
      "
      (ngModelChange)="
        selectedBook && selectedBook.author && (selectedBook.author.id = $event)
      "
      required
      placeholder="Author"
      formControlName="author"
    >
      <option value="">Chose one author</option>
      <option *ngFor="let author of authors" [value]="author?.id">
        {{ author?.name }}
      </option>
    </select>

    <div class="error" *ngIf="author.invalid && formDir.submitted">
      <p *ngIf="author.errors?.['required']">Author is required!</p>
    </div>

    <select
      [ngModel]="selectedBook && selectedBook.type ? selectedBook.type : ''"
      (ngModelChange)="
        selectedBook && selectedBook.type && (selectedBook.type = $event)
      "
      required
      placeholder="Type"
      formControlName="type"
    >
      <option value="">Chose one type</option>
      <option value="book">Book</option>
      <option value="ebook">eBook</option>
    </select>

    <div class="error" *ngIf="type.invalid && formDir.submitted">
      <p *ngIf="type.errors?.['required']">Type is required!</p>
    </div>

    <input
      type="text"
      [(ngModel)]="selectedBook.extension"
      placeholder="Extension ex: EPUB"
      formControlName="extension"
    />

    <input
      required
      type="number"
      [(ngModel)]="selectedBook.publishedYear"
      formControlName="publishedYear"
      placeholder="Published Year ex: 2022"
    />

    <div class="error" *ngIf="publishedYear.invalid && formDir.submitted">
      <p *ngIf="publishedYear.errors?.['required']">
        Published year is required!
      </p>
    </div>

    <textarea
      placeholder="Summary"
      required
      [(ngModel)]="selectedBook.summary"
      formControlName="summary"
    ></textarea>

    <div class="error" *ngIf="summary.invalid && formDir.submitted">
      <p *ngIf="summary.errors?.['required']">Summary is required!</p>
    </div>

    <div class="btnRow">
      <button type="button" (click)="handleClose()">Cancel</button>

      <button
        type="button"
        (click)="confirmDelete()"
        class="btnErr"
        *ngIf="selectedBook?.id"
      >
        Delete Book
      </button>

      <div *ngIf="selectedBook?.id && showDelete" class="confirmDelete">
        <span>Do you Confirm delete this?</span>
        <div class="confirRow">
          <button (click)="confirmDelete()" type="button" class="btnSmall">
            Cancel
          </button>
          <button
            type="button"
            (click)="handleDelete()"
            class="btnSmall btnErr"
          >
            Confirm!
          </button>
        </div>
      </div>

      <button type="submit">
        {{ !selectedBook.id && loading === false ? "Create!" : "" }}
        {{ selectedBook.id && loading === false ? "Edit!" : "" }}
        <div *ngIf="loading === true" class="load-block">
          <div class="load">
            <div style="left: 0; top: 0; animation-delay: 0s"></div>
            <div style="left: 10px; top: 0; animation-delay: 0.125s"></div>
            <div style="left: 20px; top: 0; animation-delay: 0.25s"></div>
          </div>
        </div>
      </button>
    </div>
  </form>
</div>
